{% extends 'base.html.twig' %}
{% block body %}


	{% set flag = 0 %}

	{% for inscription_candidat in inscriptions_candidat  %}

		{% if inscription_candidat.adherent.id == user.id and inscription_candidat.evenement.id == id_evenement %}

			{% set flag = flag + 1 %}

		{% endif %}

	{% endfor %}

	<div class="container">
		<div class="row ">
			<div class="col justify-content-center">


				{% if flag == 0 %}

					<h4 class="card-title">{{ evenement.titre }}</h4>

					{% if evenement.photo %}
						<img src="{{ asset('uploads/photoSectionEvenements/' ~ evenement.photo ) }}" alt="Image de l'événement" style="height:200px;  width:100%; display:block;">

					{% else %}

						<img src="/img/logo.png" alt="Image de l'événement" style="height:200px;  width:50%; display:block;">

					{% endif %}

					<p class="card-text">{{ evenement.Description }}</p>
					{{form_start(form)}}
					{{form_widget(form)}}
					{{form_end(form)}}

				{% else %}

					<h4 class="card-title">{{ evenement.titre }}</h4>
					<p class="card-text">{{ evenement.Description }}</p>
					Vous êtes inscrit à cet événement
					<a href="{{ path('evenements')}}">
						Revenir à la liste</a>


				{% endif %}


			</div>
		</div>
	</div>
{% endblock %}
