{% extends 'base.html.twig' %}

{% block body %}

	{% if not evenements_enreg %}

		<div class="container-fluid">

			<div class="row">

				<div class="col">

					<h4 class="card-title">{{ evenement.titre }}</h4>
					<p class="card-text">{{ evenement.Description }}</p>

					{{form_start(form)}}
					{{form_widget(form)}}
					{{form_end(form)}}

				{% else %}


					{% if evenements_enreg.0.adherent.id == user.id %}

						<h4 class="card-title">{{ evenement.titre }}</h4>
						<p class="card-text">{{ evenement.Description }}</p>

						Vous êtes inscrit à cet événement

						<a href="{{ path('evenements')}}">
							Revenir à la liste</a>

					{% endif %}


				</div>

			</div>
		</div>
	{% endif %}

{% endblock %}
