{% extends 'base.html.twig' %}
{% block body %}

	{% if user.statut == false %}

		<h4 class="card-title">{{ evenement.titre }}</h4>
		<p class="card-text">{{ evenement.Description }}</p>
		<p>Il faut que votre inscription soit validée afin que vous puissiez participer aux événements</p>


		{% for evenements_enregs in evenements_enreg %}

			{% if (evenements_enreg and evenements_enregs.adherent.id == user.id)  %}

				<div class="container-fluid">
					<div class="row">
						<div class="col">

							<h4 class="card-title">{{ evenement.titre }}</h4>
							<p class="card-text">{{ evenement.Description }}</p>
							Vous êtes inscrit à cet événement
							<a href="{{ path('evenements')}}">
								Revenir à la liste</a>

						{% else %}

							<h4 class="card-title">{{ evenement.titre }}</h4>
							<p class="card-text">{{ evenement.Description }}</p>
							{{form_start(form)}}
							{{form_widget(form)}}
							{{form_end(form)}}

						{% endif %}

					{% endif %}
				{% endif %}
			{% endfor %}


		</div>
	</div>
</div>{% endblock %}
