{% extends 'base.html.twig' %}
{% block body %}


	{% set flag = 0 %}

	{% for inscription_candidat in inscriptions_candidat  %}

		{% if inscription_candidat.adherent.id == user.id and inscription_candidat.evenement.id == id_evenement %}

			{% set flag = flag + 1 %}

		{% endif %}

	{% endfor %}


	<div class="container-fluid">
		<div class="row">
			<div class="col">

				{% if flag == 0 %}

					<h4 class="card-title">{{ evenement.titre }}</h4>
					<p class="card-text">{{ evenement.Description }}</p>
					{{form_start(form)}}
					{{form_widget(form)}}
					{{form_end(form)}}

				{% else %}

					<h4 class="card-title">{{ evenement.titre }}</h4>
					<p class="card-text">{{ evenement.Description }}</p>
					Vous êtes inscrit à cet événement
					<a href="{{ path('evenements')}}">
						Revenir à la liste</a>


				{% endif %}


			</div>
		</div>
	</div>
{% endblock %}
