{% extends 'baseAdmin.html.twig' %}

{% block body %}
    <div class="contenair">
        <div class="row">
            <h4> Gestion des photos</h4>
        </div>

        <div class="row justify-content-center mt-4">
        
            {{ form_start(sourcePictureForm) }}
        
            {{ form_row(sourcePictureForm.titre,{'attr':{'placeholder':"Titre de la photo"}})}}
            {{ form_row(sourcePictureForm.categorie,{'attr':{'placeholder':"Categorie"}})}}
           {#  {{ form_row(sourcePictureForm.date,{'attr':{'placeholder':""}})}} #}
            
        
            <div class=" row justify-content-center">
                <button type="submit" class='btn btn-success'>Envoyer</button>
            </div>
            {{ form_end(sourcePictureForm) }}
        </div>



    </div>

{% endblock %}
