{% extends 'baseAdmin.html.twig' %}

{% block title %}AdminCarousel{% endblock %}

{% block body %}

    <div class="container">


            {#  Si il y a le nombre de photo pour le carousel est au  maximum (4) il peux juste les modifiers  #}
        <div class= "row"> 


            
        </div>

                <div class="row">
                    
                    {{ form_start(carousel) }}
                    
                    {{ form_row(carousel.photo1,{'attr':{'placeholder':"image1"}})}}
                    {{ form_row(carousel.photo2,{'attr':{'placeholder':"image2"}})}}
                    {{ form_row(carousel.photo3,{'attr':{'placeholder':"image3"}})}}
                    {{ form_row(carousel.photo4,{'attr':{'placeholder':"image4"}})}}
                    
                    <div class=" row justify-content-center">
                        <button type="submit" class='btn btn-success'>Envoyer</button>
                    </div>
                    {{ form_end(carousel) }}
                </div>
          
    </div>


{% endblock %}
