{% extends "base.html.twig" %}

{% block body %}

	<H1 class="text-center">Modification du profil</H1>

	<div class="container-fluid">

		<div class="row mb-4 justify-content-center">
			<div class="col-6">
			
				<h5>Informations personnelles</h5>

				{{form_start(adherent)}}
				{{form_row(adherent.nom,{'attr':{'placeholder':""}})}}
				{{form_row(adherent.prenom,{'attr':{'placeholder':""}})}}
				{{form_row(adherent.telephone,{'attr':{'placeholder':""}})}}
				{{form_row(adherent.adresse,{'attr':{'placeholder':""}})}}
				{{form_row(adherent.cp,{'attr':{'placeholder':""}})}}
				{{form_row(adherent.ville,{'attr':{'placeholder':""}})}}
				{{form_row(adherent.numeroUrgence,{'attr':{'placeholder':""}})}}
				{{form_row(adherent.nomUrgence,{'attr':{'placeholder':""}})}}

				<h5>Securité</h5>
				{{form_row(adherent.email,{'attr':{'placeholder':""}})}}
				{{ form_row(adherent.password.first) }}
				{{ form_row(adherent.password.second) }}

				<button type="submit" class='btn btn-success mb-5'>Sauvegarder les changements</button>
				{{form_end(adherent)}}
			</div>
		</div>
	</div>
{% endblock %}
