{% extends "base.html.twig" %}

{% block body %}

<H1>Modification</H1>

{{form_start(adherent)}}

{{form_row(adherent.nom,{'attr':{'placeholder':""}})}}
{{form_row(adherent.prenom,{'attr':{'placeholder':""}})}}
{{form_row(adherent.email,{'attr':{'placeholder':""}})}}
{{form_row(adherent.telephone,{'attr':{'placeholder':""}})}}
{{form_row(adherent.adresse,{'attr':{'placeholder':""}})}}
{{form_row(adherent.cp,{'attr':{'placeholder':""}})}}
{{form_row(adherent.ville,{'attr':{'placeholder':""}})}}
{{form_row(adherent.numeroUrgence,{'attr':{'placeholder':""}})}}
{{form_row(adherent.password,{'attr':{'placeholder':""}})}}
{{form_row(adherent.confirm_password,{'attr':{'placeholder':""}})}}

 <button type="submit" class='btn btn-success'>Modification</button>

{{form_end(adherent)}}

{% endblock %}