{% extends 'base.html.twig' %}

{% block title %}Hello WebsiteController!{% endblock %}

{% block body %}

{% if user.statut == false %}

    {# Photo du user #}
    <div class="container">
        <div class="row">
            <div class="col">
                {% if user.dossierInscription.photoIdentite == ""  %}
                <img src="//placehold.it/150" class="m-x-auto img-fluid img-circle" alt="avatar">
                {% else %}
                <img src="{{ asset('uploads/inscriptions/' ~ user.dossierInscription.photoIdentite) }}" class="m-x-auto img-fluid img-circle" alt="avatar" width="200" height="300">
                {% endif %}
                <div class=" mt-1">
                    <h6>Nom:{{user.nom}}</h6>
                    <h6>Prenom: {{user.prenom}}</h6>
                    <h6>Statut: Adherent </h6>
                </div>
            </div>
        </div>

        {# Information personnelle #}
        <div class="row justify-content-center">
            <div class="shadow mt-1 p-3 mb-5 bg-white rounded p-center">
                <div>
                    <h4>Information Personnelle</h4>
                </div>
            </div>
        </div>
        <div class="row offset-2">
            <div class="col">
                <h6>Mot de passe: ***************</h6>
            </div>
            <div class="col">
                <h6>E-mail: {{user.email}}</h6>
            </div>
        </div>
        <div class="row offset-2">
            <div class="col">
                <h6>Telephone: {{user.telephone}}</h6>
            </div>
            <div class="col">
                <h6>Date de naissance: {{user.DateNaissance | date("m/d/Y")}}</h6>
            </div>
        </div>
        <div class="row offset-2">
            <div class="col">
                <h6>Adresse: {{user.adresse}}</h6>
            </div>
            <div class="col">
                <h6>Ville: {{user.ville}}</h6>
            </div>
        </div>
        <div class="row offset-2">
            <div class="col">
                <h6>Code Postal: {{user.cp}}</h6>
            </div>
            <div class="col">
                <h6>Tel d'urgence: {% if user.numeroUrgence == "" %}Champ à compléter{% endif %}
                {{user.numeroUrgence}}</h6>
            </div>
        </div>
        <div class="row offset-2">
            <div class="col">
                <h6>Responsable legal :{% if user.nomUrgence == ""  %} Champ à compléter {% else %}
                    {{user.nomUrgence}}{% endif %}
                </h6>
            </div>
        </div>
      <!--Button pour modifier les informations -->
        <div class="row justify-content-center">
            <a class="btn" href="{{path('adherent_edit_profile')}}" type="button">Modifier</a>
        </div>
        <hr>

        <!--Evénement Inscrit-->
        <div class="row justify-content-center">
            <div class="shadow mt-1 p-3 mb-5 bg-white rounded p-center">
                <div>
                    <h5>Evenement Inscrit</h5>
                </div>
            </div>
        </div>
        <div class="row offset-2">
            {% for participations in participation %}
            {% if participations.adherent.id == user.id %}
            <div class="col">
                <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
                    <div class="card-header text-center">Evenement</div>
                        <div class="card-body">
                            <div class="col">
                                <h6>Nom: {{ participations.evenement.titre }}</h6>
                            </div>
                            <div class="col">
                                <h6>Description: {{ participations.evenement.description }}</h6>
                            </div>
                            <div class="col">
                                date()
                                <h6>Date: {{ participations.evenement.dateDebut | date("m/d/Y") }}</h6>
                            </div>
                            <div class="col">
                                <a href="{{ path('delete_evenement',{'id' : participations.id  })}}" class="btn btn-primary">Supprimer</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div> 
            
        <hr>
        <div class="row justify-content-center">
            <div class="shadow mt-1 p-3 mb-5 bg-white rounded p-center">
                <div>
                    <h5>Mes documents</h5>
                </div>
            </div>
        </div>
            <div class=" row justify-content-center">
                <h5><a href="{{ asset('uploads/inscriptions/' ~ user.dossierInscription.photoIdentite) }}">
                    Photo D'identité (PDF)</a></h5>
            </div>
            <div class=" row justify-content-center">
                <h5><a href="{{ asset('uploads/inscriptions/' ~ user.dossierInscription.CertificatMedical) }}"> CertificatMedical (PDF)</a></h5>
            </div>
            <div class=" row justify-content-center">
                <h5><a href="{{ asset('uploads/inscriptions/' ~ user.dossierInscription.DroitImage) }}">DroitImage(PDF)</a></h5>
            </div>
            <div class=" row justify-content-center">
                <h5><a href="{{ asset('uploads/inscriptions/' ~ user.dossierInscription.DroitTransport) }}"> DroitTransport(PDF)</a></h5>
            </div>
            <div class=" row justify-content-center">
                <h5><a href="{{ asset('uploads/inscriptions/' ~ user.dossierInscription.DroitPratique) }}"> DroitPratique (PDF)</a></h5>
            </div>
            <div class=" row justify-content-center">
                <h5><a href="{{ asset('uploads/inscriptions/' ~ user.dossierInscription.DroitEntrainement) }}"> DroitPratique (PDF)</a></h5>
            </div>

            <div class=" row justify-content-center">
                <h5><a href="{{ asset('uploads/inscriptions/' ~ user.dossierInscription.RenseignementsMedicaux) }}"> RenseignementsMedicaux (PDF)</a></h5>
            </div>
            <div class=" row justify-content-center">
                <h5><a href="{{ asset('uploads/inscriptions/' ~ user.dossierInscription.renseignementsgeneraux) }}</"> RenseignementsGeneraux(PDF)</a></h5>
            </div>
        </div>
{% else %}
        {# Photo du user #}
        <div class="container">
            <div class="row">
                <div class="col">
                    {% if user.dossierInscription == ""  %}
                    <img src="//placehold.it/150" class="m-x-auto img-fluid img-circle" alt="avatar">
                    {% else %}
                    <img src="{{ asset('uploads/inscriptions/' ~ user.dossierInscription.photoIdentite) }}" class="m-x-auto img-fluid img-circle" alt="avatar" width="200" height="300">
                    {% endif %}
                    <div class=" mt-1">
                        <h6>Nom:{{user.nom}}</h6>
                        <h6>Prenom: {{user.prenom}}</h6>
                        <h6>Statut: Pre-inscription </h6>
                    </div>
                </div>
            </div>

            {# Information personnelle #}
            <div class="row justify-content-center">
                <div class="shadow mt-1 p-3 mb-5 bg-white rounded p-center">
                    <div>
                        <h4>Information Personnelle</h4>
                    </div>
                </div>
            </div>
            <div class="row offset-2">
                <div class="col">
                    <h6>Mot de passe: ***************</h6>
                </div>
                <div class="col">
                    <h6>E-mail: {{user.email}}</h6>
                </div>
            </div>
            <div class="row offset-2">
                <div class="col">
                    <h6>Telephone: {{user.telephone}}</h6>
                </div>
                <div class="col">
                    <h6>Date de naissance: {{user.DateNaissance | date("m/d/Y")}}</h6>
                </div>
            </div>
            <div class="row offset-2">
                <div class="col">
                    <h6>Adresse: {{user.adresse}}</h6>
                </div>
                <div class="col">
                    <h6>Ville: {{user.ville}}</h6>
                </div>
            </div>
            <div class="row offset-2">
                <div class="col">
                    <h6>Code Postal: {{user.cp}}</h6>
                </div>
                <div class="col">
                    <h6>Tel d'urgence: {% if user.numeroUrgence == "" %}Champ à compléter{% endif %}
                        {{user.numeroUrgence}}</h6>
                </div>
            </div>
            <div class="row offset-2">
                <div class="col">
                    <h6>Responsable legal :{% if user.nomUrgence == ""  %} Champ à compléter {% else %}
                        {{user.nomUrgence}}{% endif %}
                    </h6>
                </div>
            </div>

            <!--Button pour modifier les informations -->
            <div class="row justify-content-center">
                <a class="btn" href="{{path('adherent_edit_profile')}}" type="button">Modifier</a>
            </div>
            <hr>

            <!--Upload de document ou affichage de cdes documents si il a deja uploader -->

            {% if user.dossierInscription  %} {#  si id dans le dossier adherent et le même que le adherent connectée  #}
           
                <h5> Votre dossier d'inscription a été bien envoyé </h6>

                <h6> Les fichiers envoyé : </h6>

                <div class=" row justify-content-center">
                    <h5><a href="{{ asset('uploads/inscriptions/' ~ user.dossierInscription.photoIdentite) }}">
                            Photo D'identité (PDF)</a></h5>
                </div>
                <div class=" row justify-content-center">
                    <h5><a href="{{ asset('uploads/inscriptions/' ~ user.dossierInscription.CertificatMedical) }}"> CertificatMedical (PDF)</a></h5>
                </div>
                <div class=" row justify-content-center">
                    <h5><a href="{{ asset('uploads/inscriptions/' ~ user.dossierInscription.DroitImage) }}">DroitImage(PDF)</a></h5>
                </div>
                <div class=" row justify-content-center">
                    <h5><a href="{{ asset('uploads/inscriptions/' ~ user.dossierInscription.DroitTransport) }}"> DroitTransport(PDF)</a></h5>
                </div>
                <div class=" row justify-content-center">
                    <h5><a href="{{ asset('uploads/inscriptions/' ~ user.dossierInscription.DroitPratique) }}"> DroitPratique (PDF)</a></h5>
                </div>
                <div class=" row justify-content-center">
                    <h5><a href="{{ asset('uploads/inscriptions/' ~ user.dossierInscription.DroitEntrainement) }}"> DroitPratique (PDF)</a></h5>
                </div>
                
                <div class=" row justify-content-center">
                    <h5><a href="{{ asset('uploads/inscriptions/' ~ user.dossierInscription.RenseignementsMedicaux) }}"> RenseignementsMedicaux (PDF)</a></h5>
                </div>
                <div class=" row justify-content-center">
                    <h5><a href="{{ asset('uploads/inscriptions/' ~ user.dossierInscription.renseignementsgeneraux) }}</"> RenseignementsGeneraux(PDF)</a></h5>
                </div>
                
                <a href="{{ path('delete_folder_inscription',{'id' : user.dossierInscription.id  })}}" class="btn btn-primary">Supprimer</a>
                
                {% else %}
                <div class="row justify-content-center">
                    <div class="shadow mt-1 p-3 mb-5 bg-white rounded p-center">
                        <div>
                            <h5>Mes documents</h5>
                        </div>
                    </div>
                </div>
            <div class="row justify-content-center">
                {{ form_start(form) }}
            
                {{ form_row(form.photoIdentite,{'attr':{'placeholder':"image"}})}}
                {{ form_row(form.CertificatMedical)}}
                {{ form_row(form.DroitImage)}}
                {{ form_row(form.droitTransport)}}
                {{ form_row(form.droitPratique)}}
                {{ form_row(form.droitEntrainement)}}
                {{ form_row(form.renseignementsMedicaux)}}
                {{ form_row(form.renseignementsgeneraux)}}
            
                <div class=" row justify-content-center">
                    <button type="submit" class='btn btn-success'>Envoyer</button>
                </div>
                {{ form_end(form) }}
            </div>
            {% endif %}
            
           
        </div>
    
{% endif %}
{% endblock %}
