{% extends 'base.html.twig' %}

{% block title %}Hello WebsiteController!{% endblock %}

{% block body %}
<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    <div class="container">
    
        <div class="row justify-content-center">
            <div class="shadow mt-1 p-3 mb-3 bg-warning rounded p-center">
                <div>
                    <h4>Information Personnelle</h4>
                </div>
            </div>
        </div>
    
        <!-- Information personnelle de l'adhérent -->
        <div class="row offset-3">
            <div class="col">
                <h4>Nom: {{user.nom}}</h4>
            </div>
            <div class="col">
                <h4>Prenom: {{user.prenom}}</h4>
            </div>
        </div>
        <div class="row offset-3">
            <div class="col">
                <h4>Telephon: {{user.telephone}}</h4>
            </div>
            <div class="col">
                <h4>Age:</h4>
            </div>
        </div>
        <div class="row offset-3">
            <div class="col">
                <h4>Mot de passe: votre mot de passe</h4>
            </div>
            <div class="col">
                <h4>E-mail: {{user.email}}</h4>
            </div>
        </div>
        <div class="collapse" id="collapseExample">
            <div class="row offset-3">
                <div class="col">
                    <h4>Adresse: {{user.adresse}}</h4>
                </div>
                <div class="col">
                    <h4>Ville: {{user.ville}}</h4>
                </div>
            </div>
            <div class="row offset-3">
                <div class="col">
                    <h4>Code Postal: {{user.cp}}</h4>
                </div>
                <div class="col">
                    <h4>Tel d'urgence: {{user.numeroUrgence}}</h4>
                </div>
            </div>
        </div>
        <!-- Collapse pour afficher plus d'information -->
        <div class="row text-center">
            <div class="col justify-content-center">
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    Plus d'information
                </button>
                <!--Button pour modifier les informations -->
                <a class="btn btn-primary" href="{{path('adherent_edit_profile')}}" type="button">Modifier</a>
            </div>
        </div>
        <hr>
        <!--Evénement Inscrit-->
        <div class="row justify-content-center">
            <div class="shadow mt-1 p-3 mb-3 bg-warning rounded p-center">
                <div>
                    <h4>Evenement Inscrit</h4>
                </div>
            </div>
        </div>
        <pre>
            
        </pre>
         
        {% for evenements in evenement.participations %}
        
        <div class="row justify-content-center">
            <div class="shadow mt-2 p-3 mb-1 bg-white rounded p-center">
                <div class="row">
                    <div class="col">
                        <h5>Nom:</h5>
                    </div>
                    <div class="col">
                        <h5>Categories:</h5>
                    </div>
                    <div class="col">
                        <h5>Date:</h5>
                    </div>
                    <div class="col">
                        <a href="{{ path('supression_evenement_inscrit',
                                    {'id': "3"})}}">Supprimer</a>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}

        <hr>
        <div class="row justify-content-center">
            <div class="shadow mt-1 p-3 mb-5 bg-warning rounded p-center">
                <div>
                    <h4>Mes documents</h4>
                </div>
            </div>
        </div>
<div class="row justify-content-center">
{{ form_start(form) }}

{{ form_row(form.photoIdentite)}}
{{ form_row(form.CertificatMedical)}}
{{ form_row(form.DroitImage)}}
{{ form_row(form.droitTransport)}}
{{ form_row(form.droitPratique)}}
{{ form_row(form.droitEntrainement)}}
{{ form_row(form.renseignementsMedicaux)}}
{{ form_row(form.renseignementsgeneraux)}}

<div class=" row justify-content-center">
<button type="submit" class='btn btn-success'>Envoyer</button>
</div>
{{ form_end(form) }}
</div>
    </div>

{% endblock %}
