<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}Ecole des raseteurs de la Porte de la Crau
            {% endblock %}
        </title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link
        rel="stylesheet" href="/css/customStyle.css">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"> {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    </head>
    <body id="top">
        ​
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            ​
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    ​
                    <a href="{{ path('home') }}"><img src="img/logo.png" style="max-width:200px; height:auto;" alt="Logo de l'école"></a>
                    ​
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                ​
                    <li class="nav-item active">
                        <a class="nav-link" href="#">
                            L'école
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('evenements') }}">Evenements</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                    <li class="nav-item">
                        <!--S'il est loggé en tant qu'adherent, apparition de espace adherent -->
                        <!--S'il est loggé en tant qu'admin, apparition de espace admin -->
                            <a class="nav-link" href="{{ path('inscription') }}"> S'inscrire</a>
                    </li>
                    ​
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('login_adherent') }}">Se connecter</a>
                    </li>
                </ul>
                ​
            </div>
        </nav>
        <!-- Navbar end -->
    </body>


    {% block body %}{% endblock %}

    <!-- footer -->
    <footer class="container-fluid bg-4 text-center pt-4 pl-4">

        ​
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        <div class="row">
            ​
            <!-- Grid column -->
            <div class="col text-justify">
                ​
                <h5 class="text-uppercase">Nous contacter</h5>
                <p>1005 che Vieux Château
                    <br>13140 MIRAMAS expedita,</p>
                ​
            </div>

            <div class="col text-justify">
                ​
                <h5 class="text-uppercase">Partenariats</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, ab veritatis ullam eaque quaerat expedita,</p>
            </div>
            ​
            <div class="col text-justify pt-4">

                <h5 class="text-uppercase">Notre page facebook</h5>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, ab veritatis ullam eaque quaerat expedita,</p>
            </div>
            ​
        </div>
        ​
        <hr class="footerhr">
        ​
        <div class="col-xs-1 text-center pb-4">

            Copyright 2019
        </div>
    </footer>

</html></body>{% block javascripts %}
<!--scripts-->
<script src="js/to-top.js"></script>
<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>{% endblock %}</html></body></html>
